<footer class="py-5 bg-dark" style="margin-top:2%;">
    <div class="container">
        <p class="m-0 text-center text-white">Danish 1-1-2 Official Website</p>
    </div>

    <script async defer src="scripts/public.js"></script>
    <script async defer src="scripts/map.js"></script>
    <script async defer src="scripts/chat.js"></script>
</footer>
