<!DOCTYPE html>
<html lang="en">

{{> default/header }}

<body>

{{> default/top-navigation }}

<div class="container">

    {{> messages}}

    {{{ body }}}

</div>

{{> default/footer }}

</body>
</html>
