<!DOCTYPE html>
<html lang="en">

<head>
    <title>112Help - EMD Side</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/df727c8cca.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/emd.css">

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBAWN32yPAzJsiUC5R2lhSW1qGe0VY82Uk&libraries=geometry"></script>
    <script async defer src="/scripts/chat.js"></script>
    <script async defer src="/scripts/emd.js"></script>
    <script async defer src="/testing/emdTest.js"></script>
    <script async defer src="/scripts/sortTable.js"></script>
    <script async src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>


<body>

    <div class="column-left">
        <table id="cases" class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="clickable" onclick="sortTable('cases', 0, true)">#</th>
                    <th class="clickable" onclick="sortTable('cases', 1, false)">Status</th>
                    <th class="clickable" onclick="sortTable('cases', 2, false)">Time</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="column-middle">
        <div id="map"></div>
        <div id="chat">
            <div id="chat-header">Chat</div>
            <div id="chat-log"></div>
            <div id="chat-footer">
                <input id="chat-input" type="text" placeholder="Enter message here..." disabled></input>
                <button id="chat-send" type="button" class="btn btn-primary" disabled>Send</button>
            </div>
        </div>
    </div>

    <div class="column-right">

        <div id="journal-header">
            <h2 id="journal-title"></h2>
        </div>
        <div id="journal">
            <form>
                <div class="form-group">
                    <label>Time created:</label>
                    <div class="input-group mb-3">
                        <input type="text" id="journal-fulltime" class="form-control" aria-describedby="basic-addon2" readonly>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label>Coordinates:</label>
                    <div class="input-group mb-3">
                        <input type="text" id="journal-location" class="form-control" aria-describedby="basic-addon2" readonly>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label>Full name:</label>
                    <div class="input-group mb-3">
                        <input type="text" id="journal-name-text" class="form-control" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button id="journal-name-button" class="journal-toggle btn btn-outline-secondary" onclick="toggleJournalField(this)" type="button">
                                <i class="far fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label>Phone number:</label>
                    <div class="input-group mb-3">
                        <input type="text" id="journal-phone-text" class="form-control" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button id="journal-phone-button" class="journal-toggle btn btn-outline-secondary" onclick="toggleJournalField(this)" type="button">
                                <i class="far fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label>CPR number:</label>
                    <div class="input-group mb-3">
                        <input type="text" id="journal-cpr-text" class="form-control" aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <button id="journal-cpr-button" class="journal-toggle btn btn-outline-secondary" onclick="toggleJournalField(this)" type="button">
                                <i class="far fa-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label>Case description:</label>
                    <div class="input-group">
                        <textarea class="form-control" id="journal-description" readonly></textarea>
                    </div>
                </div>
                <hr>
                <label>Nearby cases:</label>
                <table id="journal-nearby-cases" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="clickable" onclick="sortTable('journal-nearby-cases', 0, false)">#</th>
                            <th class="clickable" onclick="sortTable('journal-nearby-cases', 1, false)">Distance (m)</th>
                        </tr>
                    </thead>
                </table>
                <hr>
                <div class="form-group">
                    <label>Case notes:</label>
                    <textarea class="form-control" id="journal-notes" rows="3" style="max-width: none;" placeholder="Write notes on the case here..."></textarea>
                </div>
            </form>
            <hr>
            <button id="close-case-button" type="button" class="btn btn-light">Close</button>
            <button id="journal-button" type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-sm">Archive</button>
        </div>
    </div>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="archive-case-button" type="button" data-dismiss="modal" class="btn btn-danger">Archive</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
