<!DOCTYPE html>
<html lang="en">

{{> editor/editor-header }}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

{{> editor/editor-topNav}}

<div class="content-wrapper">

    {{> messages}}

    {{{body}}}

{{> editor/editor-footer}}

</div>
</body>

</html>
