<!DOCTYPE html>
<html lang="en">

<head>
    <title>112Help</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/scripts/searchPosts.js"></script>
    <script async defer src="scripts/translation.js"></script>
    <script async defer src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">112 help</a>
            <div id="google_translate_element"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/info">Info page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

<div class="content-wrapper">

    <div class="container">
      {{#if success_message}}

        <div class="alert alert-success alert-dismissible fade show mt-2 auto-hide" role="alert">
            <strong>{{success_message}}</strong>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>

      {{/if}}

      {{#if error_message}}

        <div class="alert alert-danger alert-dismissible fade show mt-2 auto-hide" role="alert">
            <strong>{{error_message}}</strong>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
      {{/if}}
    </div>

    <!-- To enable the closing/opening of flash messages + logout button -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script>
      $(document).ready(function(){
        setTimeout(function(){
          $(".auto-hide").slideUp(300);
      }, 5000);
      });
    </script>
</div>

<div class="container">
    {{{ body }}}
</div>

</body>
</html>
