<!DOCTYPE html>
<html lang="en">

{{> public/header }}

<body>

{{> public/top-navigation }}

<div class="container">

    {{> messages}}

    {{{ body }}}

</div>

{{> public/footer }}

</body>
</html>
