{{#if errors}}
{{#each errors}}
    <div class = "alert alert-danger alert-dismissible fade show" role = "alert"
        <strong>{{message}}</strong>
    </div>
{{/each}}
{{/if}}

<div class="container">
    <h1>Create New Post</h1>

    <div class="row p-4">
        <div class="col-md-10">
            <form action="/admin/posts/create" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="Enter The Title">
                </div>

                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" name="author" id="author" placeholder="Enter your first- and lastname">
                </div>

                <div class="form-group">
                  <label for="file">Preview image upload</label>
                  <input type="file" class="form-control" id="file" name="uploadedFile">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" placeholder="Enter your description here" rows="10"></textarea>
                </div>

                <div class="form-group">
                  <label for="file2">PDF upload</label>
                  <input type="file" class="form-control" id="file2" name="uploadedFile2">
                </div>

                <button class="btn btn-outline-success btn-lg" type="submit">Create Post</button>


            </form>
        </div>
    </div>



</div>
