/*
Authors:
Adam Stück, Bianca Kevy, Cecilie Hejlesen
Frederik Stær, Lasse Rasmussen and Tais Hors

Group: DAT2 - C1-14
Date: 27/05-2020
*/

html, body {
    height: 100%;
    margin: 0;
}

.clickable {
    cursor: pointer;
}

.column-left {
    float: left;
    width: 25%;
    height: 100%;
    overflow-y: auto;
}

#cases {
    width: 100%;
    font-size:20px;
}

.column-middle {
    float: left;
    width: 40%;
    height: 100%;
}

#map {
    float: left;
    width: 100%;
    height: 75%;
}

#chat {
    float: left;
    width: 100%;
    height: 25%;
    background-color:#bbb;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

#chat-header {
    background: #343a40;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
}

#chat-log {
    overflow-y: auto;
    flex-grow : 1;
    overflow-wrap: break-word;
    margin-left: 5px;
}

#chat-footer {
    width: 100%;
    text-align: center;
    height: auto;
}

#chat-input {
    height: 100%;
    float: left;
    width: 91%;
    padding-left: 8px;
}

#chat-send {
    float: right;
    width: 9%;
    height: 100%;
    border-radius: 0;
}

.column-right {
    position: relative;
    float: left;
    width: 35%;
    height: 100%;
    overflow-y: auto;
    background-color:#ccc;
}

#journal-header {
    background: #343a40;
    width: 100%;
    height: 5%;
    text-align: center;
    color: white;
}

#journal {
    display:none;
    margin: 10px;
}

#close-case-button {
    float: left;
    display: inline-block;
    margin:5px;
}

#journal-button {
    float: right;
    display: inline-block;
    margin:5px;
}
