{{> default/header }}

<body>

<!-- Navigation -->
{{> default/top-navigation }}

<!-- Page Content -->
<div class="container">

    {{{ body }}}

    <script>
        let blogposts = document.getElementsByClassName('card mb-4');
        for (var i = 0; i < blogposts.length; i++) {
            console.log(blogposts[i].title);
        }
    </script>

</div>
<!-- /.container -->
{{> default/footer }}
