{{> default/header }}

<body>

<!-- Navigation -->
{{> default/top-navigation }}

<!-- Page Content -->
<div class="container">

    <script>
        let blogposts = [];
    </script>

    {{{ body }}}

    <script>
        console.log(blogposts);
    </script>

</div>
<!-- /.container -->
{{> default/footer }}
