<main>
    <div id="google_translate_element"></div>

    <div class="main">
        <h2>Drag the Marker to the Emergency</h2>
        <input id="address" type="textbox" value="" placeholder="Search Google Maps">
        <input id="search" type="button" value="Search">
        <input id="gps" type="button" value="GPS">
        <br><br>

        <div id="map"></div>

        <div id="details">

            <h2>Fill out with your details</h2>
            <p><label>Name:     </label><input type="text" id="citizen-name"></p>
            <p><label>Phone Number:     </label><input type="text" id="phone"></p>
            <p><label>CPR Number:   </label><input type="text" id="cpr"></p>
            <p><label>Location:     </label><input type="text" id="location"></p>
            <textarea id="desc" placeholder="Describe the emergency... (Who, what, where, when...)"></textarea></p>

            <input id="submit" type="button" value="Submit">

        </div>

        <div id="chat">
            <div id = "chat-header">
                <strong>Chat with a dispatcher</strong>
            </div>
            <div id="chat-log"></div>
            <div id="chat-controls">
                <input id="chat-input" type="text" placeholder="Enter message here...">
                <button id="chat-send">Send</button>
            </div>
        </div>
    </div>
</main>
