<!-- 
Authors:
Adam Stück, Bianca Kevy, Cecilie Hejlesen
Frederik Stær, Lasse Rasmussen and Tais Hors

Group: DAT2 - C1-14
Date: 27/05-2020
-->

{{!-- This is the body of the public side, where a citizen can submit a case --}}

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBAWN32yPAzJsiUC5R2lhSW1qGe0VY82Uk&sensor=false"></script>
<script async defer src="scripts/chat.js"></script>
<script async defer src="scripts/public.js"></script>
<script async defer src="scripts/map.js"></script>


<div id="public-container">

    <div id="map-stuff">
        <h1 class="display-4">Drag the marker to the emergency</h1>
        <hr>
        <div id="map-header">
            <input id="address" type="text" placeholder="Search Google Maps..."></input>
            <button id="search" type="button" class="btn btn-primary">Search</button>
            <button id="gps" type="button" class="btn btn-secondary">GPS</button>
        </div>
        <div id="map"></div>
        <hr>
        <button id="next" type="button" style="float:right;" class="btn btn-primary">Next ❯</button>
        <p>Already opened a case? <a href="#" onclick="reopenCase(prompt('Please enter your case ID.'))">Click here.</a></p>
    </div>

    <div id="details" style="display:none">
        <h1 class="display-4">Please fill out your details</h1>
        <hr>
        <form>
            <div class="form-group">
                <label>Full name:</label>
                <input class="form-control" id="citizen-name" placeholder="John Smith">
            </div>
            <div class="form-group">
                <label>Phone number:</label>
                <input class="form-control" id="phone" placeholder="12345678">
            </div>
            <div class="form-group">
                <label>CPR number:</label>
                <input class="form-control" id="cpr" placeholder="000000-0000">

            </div>
            <div class="form-group">
                <label>Describe the emergency:</label>
                <textarea class="form-control" id="desc" rows="3" style="max-width: none;" placeholder="Who, what, when, where, etc..."></textarea>
            </div>
        </form>
        <hr>
        <button id="previous" type="button" style="float:left;" class="btn btn-secondary">❮ Previous</button>
        <button id="submit" type="button" style="float:right;" class="btn btn-primary">Submit</button>
    </div>

    <div id="chat-stuff" style="display:none">
        <h1 class="display-4">Chat with a dispatcher</h1>
        <hr>
        <div id="chat">
            <div id="chat-header"></div>
            <div id="chat-log"></div>
            <div id="chat-footer">
                <input id="chat-input" type="text" placeholder="Enter message here..."></input>
                <button id="chat-send" type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
